# Ambiente Virtual
venv/
ENV/
env/

# Configurações Locais e Segredos (CRÍTICO)
.env

# Caches do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Banco de dados local (caso gerasse algum arquivo de log ou sqlite temporário)
*.sqlite3